/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none; }

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav {
  margin-top: 10px; }

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

body {
  margin: 0;
  font-family: 'Lora', serif; }

section {
  min-height: 800px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative; }

p {
  display: inline;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

.clear {
  content: "";
  display: table;
  clear: both; }

.btn_next {
  width: 70px;
  height: 70px;
  margin: auto;
  background-image: url("../img/BTN_scroll_normal.png");
  background-size: cover;
  background-position: center;
  position: relative; }

.btn_next:active {
  background-image: url("../img/BTN_play_active.png"); }

.btn_next:hover {
  background-image: url("../img/BTN_scroll_hover.png"); }

.btn_left {
  transform: rotate(90deg); }

.btn_right {
  transform: rotate(270deg); }

.text {
  font-size: 24px;
  color: #f9f4e9;
  line-height: 1.5;
  text-shadow: 0px 5px 30px rgba(35, 27, 32, 0.004); }
  .text p {
    display: inline;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em; }

.section-one {
  background-image: url("../img/1_HEADER/1_HEADER_bg.jpg"); }
  .section-one .logo {
    background-image: url("../img/1_HEADER/1_HEADER_logo.png");
    background-size: cover;
    background-position: center top;
    height: 170px;
    width: 450px;
    margin: auto;
    padding-top: 50px; }
  .section-one .header {
    background-image: url("../img/1_HEADER/1_HEADER_head.png");
    background-size: cover;
    background-position: center top;
    height: 130px;
    width: 550px;
    margin: auto; }
  .section-one .btn_play {
    width: 420px;
    height: 134px;
    margin: auto;
    margin-top: 10px;
    background-image: url("../img/BTN_play_normal.png");
    background-size: cover;
    background-position: center; }
  .section-one .btn_play:active {
    background-image: url("../img/BTN_play_active.png"); }
  .section-one .btn_play:hover {
    background-image: url("../img/BTN_play_hover.png"); }
  .section-one .text {
    margin: 0 auto;
    text-align: center;
    width: 742px;
    height: 105px; }

.section-two {
  min-height: 636px; }
  .section-two .header {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 2;
    margin: 0 auto;
    text-align: center; }
    .section-two .header img {
      height: 100px; }
  .section-two .character {
    width: 50%;
    margin: 0 auto;
    margin-top: -43%;
    margin-left: 20%; }
    .section-two .character .name {
      width: 320px;
      margin-left: -30px; }
    .section-two .character .fraction {
      width: 320px; }
      .section-two .character .fraction img {
        width: 25px;
        vertical-align: middle;
        position: absolute; }
      .section-two .character .fraction p {
        position: absolute;
        font-size: 21px;
        color: #ff323a;
        line-height: 1.333;
        text-shadow: 0px 5px 30px rgba(35, 27, 32, 0.004);
        position: absolute;
        margin-left: 35px; }
    .section-two .character .text {
      width: 280px;
      font-size: 16px;
      line-height: 1.4;
      margin-top: 40px; }
    .section-two .character .chars {
      width: 350px; }
      .section-two .character .chars .char-1 {
        padding-top: 10px; }
      .section-two .character .chars .char-2 {
        padding-top: 80px; }
      .section-two .character .chars img {
        width: 58px;
        height: 58px;
        vertical-align: middle;
        position: absolute; }
      .section-two .character .chars p {
        padding-top: 5px;
        font-size: 18px;
        color: #f9f4e9;
        line-height: 1.2;
        text-shadow: 0px 5px 30px rgba(35, 27, 32, 0.004);
        position: absolute;
        margin-left: 70px; }
        .section-two .character .chars p .text_small {
          font-size: 12px; }
  .section-two .item-2 .character .name {
    top: 55px;
    width: 300px;
    right: 535px; }
  .section-two .item-2 .fraction p {
    color: #ca86ff; }
  .section-two .item-3 .character .name {
    top: 50px;
    width: 300px;
    right: 535px; }
  .section-two .item-3 .fraction img {
    margin-top: 5px; }
  .section-two .item-3 .fraction p {
    color: #ffc419; }
  .section-two .owl-item {
    height: 100vh; }
  .section-two .owl-nav {
    display: block;
    width: 100%; }
    .section-two .owl-nav .owl-prev, .section-two .owl-nav .owl-next {
      position: absolute;
      top: 50%; }
    .section-two .owl-nav .owl-prev {
      left: 0; }
    .section-two .owl-nav .owl-next {
      right: 0; }
  .section-two .owl-dots {
    position: absolute;
    z-index: 9;
    top: 50%;
    right: 200px;
    transform: translateY(-50%); }
    .section-two .owl-dots .owl-dot {
      width: 140px;
      height: 140px;
      display: block;
      margin: 30px 0;
      border-radius: 50%; }
    .section-two .owl-dots .owl-dot#isolda {
      background-image: url("../img/2_CHARS/2_CHARS_icon_Isolda_inactive.png"); }
      .section-two .owl-dots .owl-dot#isolda:hover {
        background-image: url("../img/2_CHARS/2_CHARS_icon_Isolda_hover.png"); }
      .section-two .owl-dots .owl-dot#isolda.active {
        background-image: url("../img/2_CHARS/2_CHARS_icon_Isolda_active.png"); }
    .section-two .owl-dots .owl-dot#pamela {
      background-image: url("../img/2_CHARS/2_CHARS_icon_Pamela_inactive.png"); }
      .section-two .owl-dots .owl-dot#pamela:hover {
        background-image: url("../img/2_CHARS/2_CHARS_icon_Pamela_hover.png"); }
      .section-two .owl-dots .owl-dot#pamela.active {
        background-image: url("../img/2_CHARS/2_CHARS_icon_Pamela_active.png"); }
    .section-two .owl-dots .owl-dot#lleyn {
      background-image: url("../img/2_CHARS/2_CHARS_icon_Lleyn_inactive.png"); }
      .section-two .owl-dots .owl-dot#lleyn:hover {
        background-image: url("../img/2_CHARS/2_CHARS_icon_Lleyn_hover.png"); }
      .section-two .owl-dots .owl-dot#lleyn.active {
        background-image: url("../img/2_CHARS/2_CHARS_icon_Lleyn_active.png"); }
  .section-two div.btn_next {
    margin-top: -110px;
    z-index: 2; }

.section-three {
  margin-top: 0; }
  .section-three .header {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 2;
    margin: 0 auto;
    top: 10px;
    text-align: center; }
  .section-three .text {
    margin: 0 auto;
    margin-top: -500px;
    text-align: center;
    width: 742px;
    height: 105px;
    position: relative;
    z-index: 2; }

.section-four {
  margin-top: 45px;
  background-image: url("../img/4_MOUNT/4_MOUNT_bg.jpg"); }
  .section-four .logo {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 2;
    margin: 0 auto;
    top: 0px;
    text-align: center; }
  .section-four .header {
    padding-top: 350px; }
    .section-four .header div {
      background-size: cover;
      background-position: center top;
      height: 90px;
      width: 470px;
      margin: auto;
      top: 350px;
      float: left; }
    .section-four .header .header-item-1 {
      background-image: url("../img/4_MOUNT/4_MOUNT_rating_30000.png");
      margin-left: 100px; }
    .section-four .header .header-item-2 {
      background-image: url("../img/4_MOUNT/4_MOUNT_rating_150000.png");
      margin-left: 60px; }
  .section-four .text {
    margin: 0 auto;
    padding-top: 0px;
    text-align: center;
    width: 1142px;
    height: 105px; }
    .section-four .text p {
      line-height: 1;
      font-size: 22px; }
  .section-four .btn_next {
    margin-top: 40px; }

.section-five {
  background-image: url("../img/5_FOOTER/5_FOOTER_BG.jpg"); }
  .section-five .header {
    background-image: url("../img/5_FOOTER/5_FOOTER_head.png");
    background-size: cover;
    background-position: center top;
    height: 130px;
    width: 850px;
    margin: auto; }
  .section-five .btn_play {
    width: 420px;
    height: 134px;
    margin: auto;
    margin-top: 10px;
    background-image: url("../img/BTN_play_normal.png");
    background-size: cover;
    background-position: center; }
  .section-five .btn_play:active {
    background-image: url("../img/BTN_play_active.png"); }
  .section-five .btn_play:hover {
    background-image: url("../img/BTN_play_hover.png"); }
  .section-five .text {
    margin: 0 auto;
    text-align: center;
    width: 742px;
    height: 105px; }
  .section-five .social {
    margin: auto;
    text-align: center;
    width: 332px;
    height: 105px; }
    .section-five .social .social-item {
      float: left; }
    .section-five .social .bnt-social {
      width: 83px;
      height: 91px;
      margin: auto;
      margin-top: 10px;
      background-size: cover;
      background-position: center; }
    .section-five .social .fb {
      background-image: url("../img/5_FOOTER/5_FOOTER_btn_fb_normal.png"); }
    .section-five .social .fb:active {
      background-image: url("../img/5_FOOTER/5_FOOTER_btn_fb_active.png"); }
    .section-five .social .fb:hover {
      background-image: url("../img/5_FOOTER/5_FOOTER_btn_fb_hover.png"); }
    .section-five .social .vk {
      background-image: url("../img/5_FOOTER/5_FOOTER_btn_vk_normal.png"); }
    .section-five .social .vk:active {
      background-image: url("../img/5_FOOTER/5_FOOTER_btn_vk_active.png"); }
    .section-five .social .vk:hover {
      background-image: url("../img/5_FOOTER/5_FOOTER_btn_vk_hover.png"); }
    .section-five .social .ok {
      background-image: url("../img/5_FOOTER/5_FOOTER_btn_ok_normal.png"); }
    .section-five .social .ok:active {
      background-image: url("../img/5_FOOTER/5_FOOTER_btn_ok_active.png"); }
    .section-five .social .ok:hover {
      background-image: url("../img/5_FOOTER/5_FOOTER_btn_ok_hover.png"); }
    .section-five .social .mail {
      background-image: url("../img/5_FOOTER/5_FOOTER_btn_mail_normal.png"); }
    .section-five .social .mail:active {
      background-image: url("../img/5_FOOTER/5_FOOTER_btn_mail_active.png"); }
    .section-five .social .mail:hover {
      background-image: url("../img/5_FOOTER/5_FOOTER_btn_mail_hover.png"); }
  .section-five .text-rights {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 500px;
    height: 50px;
    color: rgba(181, 181, 181, 0.502); }
    .section-five .text-rights a {
      color: rgba(181, 181, 181, 0.502);
      -moz-text-decoration-color: rgba(181, 181, 181, 0.502);
      text-decoration-color: rgba(181, 181, 181, 0.502); }
  .section-five .logo {
    background-image: url("../img/5_FOOTER/5_FOOTER_logo_101xp.png");
    background-size: cover;
    background-position: center top;
    height: 60px;
    width: 150px;
    margin: auto; }
