/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1120px) {
	.section-two .character {
		margin-top: -500px;
	}
	.section-four .header .header-item-1 {
		margin-left: 0;
	} 
	.section-four .header .header-item-2 {
		margin-left: 0;
	}
	.section-four .text,
	.section-three .text,
	.section-one .text {
		max-width: 100%;
	}
}	
/* 1042px */
@media only screen and (max-width : 1080px) {

/* 1032px */
@media only screen and (max-width : 1032px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.section-four .header .header-item-1,
	.section-four .header .header-item-2 {
		float: none;
		margin: auto;
	}
	.section-four .header {
		margin: auto;
	}
}

@media only screen and (max-width : 880px) {
	.header {
		margin-top: -17em;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.section-two .owl-dots .dotnumber1, .section-two .owl-dots .dotnumber2, .section-two .owl-dots .dotnumber3 {
		display: none;
	}
}

@media only screen and (max-width : 690px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 630px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

