@import "app/libs/owl.carousel/dist/assets/owl.carousel.min"
@import "app/libs/owl.carousel/dist/assets/owl.theme.default.min"

body
	margin: 0
	font-family: 'Lora', serif

section
	min-height: 800px
	height: 100vh
	background-size: cover
	background-position: center
	position: relative 

p 
	display: inline
	-webkit-margin-before: 0em
	-webkit-margin-after: 0em

.clear
	content: ""
	display: table
	clear: both

.btn_next
	width: 70px
	height: 70px
	margin: auto
	background-image: url("img/BTN_scroll_normal.png")
	background-size: cover
	background-position: center 
	position: relative

.btn_next:active
	background-image: url("img/BTN_play_active.png")
	
.btn_next:hover
	background-image: url("img/BTN_scroll_hover.png")
	
.btn_left
	transform: rotate(90deg)

.btn_right
	transform: rotate(270deg)

.text
	font-size: 24px
	color: rgb(249, 244, 233)
	line-height: 1.5
	text-shadow: 0px 5px 30px rgba(35, 27, 32, 0.004)
	p 
		display: inline
		-webkit-margin-before: 0em
		-webkit-margin-after: 0em

.section-one 
	background-image: url("img/1_HEADER/1_HEADER_bg.jpg")
	.logo
		background-image: url("img/1_HEADER/1_HEADER_logo.png")
		background-size: cover
		background-position: center top
		height: 170px
		width: 450px
		margin: auto
		padding-top: 50px
	.header
		background-image: url("img/1_HEADER/1_HEADER_head.png")
		background-size: cover
		background-position: center top
		height: 130px
		width: 550px
		margin: auto
	.btn_play
		width: 420px
		height: 134px
		margin: auto
		margin-top: 10px
		background-image: url("img/BTN_play_normal.png")
		background-size: cover
		background-position: center 
	.btn_play:active
		background-image: url("img/BTN_play_active.png")
	.btn_play:hover
		background-image: url("img/BTN_play_hover.png")
	.text
		margin: 0 auto
		text-align: center
		width: 742px
		height: 105px

.section-two
	min-height: 636px
	.header
		position: absolute
		display: block
		width: 100%
		z-index: 2
		margin: 0 auto
		text-align: center
		img 
			height: 100px
	.character
		width: 50%
		margin: 0 auto
		margin-top: -43%
		margin-left: 20%
		.name
			width: 320px
			margin-left: -30px
		.fraction 
			width: 320px
			img
				width: 25px
				vertical-align: middle
				position: absolute
			p 
				position: absolute
				font-size: 21px
				color: rgb(255, 50, 58)
				line-height: 1.333
				text-shadow: 0px 5px 30px rgba(35, 27, 32, 0.004)
				position: absolute
				margin-left: 35px
		.text
			width: 280px
			font-size: 16px
			line-height: 1.4
			margin-top: 40px
		.chars
			width: 350px
			.char-1
				padding-top: 10px
			.char-2
				padding-top: 80px
			img
				width: 58px
				height: 58px
				vertical-align: middle
				position: absolute
			p 
				padding-top: 5px
				font-size: 18px
				color: rgb(249, 244, 233)
				line-height: 1.2
				text-shadow: 0px 5px 30px rgba(35, 27, 32, 0.004)
				position: absolute
				margin-left: 70px
				.text_small
					font-size: 12px
	.item-2
		.character
			.name
				top: 55px
				width: 300px
				right: 535px
		.fraction
			p 
				color: rgb(202, 134, 255)
	.item-3
		.character
			.name
				top: 50px
				width: 300px
				right: 535px
		.fraction
			img
				margin-top: 5px
			p 
				color: rgb(255, 196, 25)
	.owl-item
		height: 100vh
	.owl-nav
		display: block
		width: 100%
		.owl-prev, .owl-next
			position: absolute
			top: 50%
		.owl-prev
			left: 0
		.owl-next
			right: 0
	.owl-dots
		position: absolute
		z-index: 9
		top: 50%
		right: 200px
		transform: translateY(-50%)
		.owl-dot
			width: 140px
			height: 140px
			display: block
			margin: 30px 0
			border-radius: 50%
		.owl-dot#isolda
			background-image: url("img/2_CHARS/2_CHARS_icon_Isolda_inactive.png")
			&:hover
				background-image: url("img/2_CHARS/2_CHARS_icon_Isolda_hover.png")
			&.active
				background-image: url("img/2_CHARS/2_CHARS_icon_Isolda_active.png")
		.owl-dot#pamela
			background-image: url("img/2_CHARS/2_CHARS_icon_Pamela_inactive.png")
			&:hover
				background-image: url("img/2_CHARS/2_CHARS_icon_Pamela_hover.png")
			&.active
				background-image: url("img/2_CHARS/2_CHARS_icon_Pamela_active.png")
		.owl-dot#lleyn
			background-image: url("img/2_CHARS/2_CHARS_icon_Lleyn_inactive.png")
			&:hover
				background-image: url("img/2_CHARS/2_CHARS_icon_Lleyn_hover.png")
			&.active
				background-image: url("img/2_CHARS/2_CHARS_icon_Lleyn_active.png")
	div.btn_next
		margin-top: -110px
		z-index: 2

.section-three
	margin-top: 0
	.header
		position: absolute
		display: block
		width: 100%
		z-index: 2
		margin: 0 auto
		top: 10px
		text-align: center
	.text
		margin: 0 auto
		margin-top: -500px
		text-align: center
		width: 742px
		height: 105px
		position: relative
		z-index: 2

.section-four
	margin-top: 45px
	background-image: url("img/4_MOUNT/4_MOUNT_bg.jpg")
	.logo
		position: absolute
		display: block
		width: 100%
		z-index: 2
		margin: 0 auto
		top: 0px
		text-align: center
	.header
		padding-top: 350px
		div
			background-size: cover
			background-position: center top
			height: 90px
			width: 470px
			margin: auto
			top: 350px
			float: left
		.header-item-1
			background-image: url("img/4_MOUNT/4_MOUNT_rating_30000.png")
			margin-left: 100px
		.header-item-2
			background-image: url("img/4_MOUNT/4_MOUNT_rating_150000.png")
			margin-left: 60px
	.text
		margin: 0 auto
		padding-top: 0px
		text-align: center
		width: 1142px
		height: 105px
		p 
			line-height: 1
			font-size: 22px
	.btn_next
		margin-top: 40px

.section-five
	background-image: url("img/5_FOOTER/5_FOOTER_BG.jpg")
	.header
		background-image: url("img/5_FOOTER/5_FOOTER_head.png")
		background-size: cover
		background-position: center top
		height: 130px
		width: 850px
		margin: auto
	.btn_play
		width: 420px
		height: 134px
		margin: auto
		margin-top: 10px
		background-image: url("img/BTN_play_normal.png")
		background-size: cover
		background-position: center 
	.btn_play:active
		background-image: url("img/BTN_play_active.png")
	.btn_play:hover
		background-image: url("img/BTN_play_hover.png")
	.text
		margin: 0 auto
		text-align: center
		width: 742px
		height: 105px
	.social
		margin: auto
		text-align: center
		width: 332px
		height: 105px
		.social-item
			float: left
		.bnt-social 
			width: 83px
			height: 91px
			margin: auto
			margin-top: 10px
			background-size: cover
			background-position: center
		.fb
			background-image: url("img/5_FOOTER/5_FOOTER_btn_fb_normal.png")
		.fb:active
			background-image: url("img/5_FOOTER/5_FOOTER_btn_fb_active.png")
		.fb:hover
			background-image: url("img/5_FOOTER/5_FOOTER_btn_fb_hover.png")
		.vk
			background-image: url("img/5_FOOTER/5_FOOTER_btn_vk_normal.png")
		.vk:active
			background-image: url("img/5_FOOTER/5_FOOTER_btn_vk_active.png")
		.vk:hover
			background-image: url("img/5_FOOTER/5_FOOTER_btn_vk_hover.png") 
		.ok
			background-image: url("img/5_FOOTER/5_FOOTER_btn_ok_normal.png")
		.ok:active
			background-image: url("img/5_FOOTER/5_FOOTER_btn_ok_active.png")
		.ok:hover
			background-image: url("img/5_FOOTER/5_FOOTER_btn_ok_hover.png")  
		.mail
			background-image: url("img/5_FOOTER/5_FOOTER_btn_mail_normal.png")
		.mail:active
			background-image: url("img/5_FOOTER/5_FOOTER_btn_mail_active.png")
		.mail:hover
			background-image: url("img/5_FOOTER/5_FOOTER_btn_mail_hover.png")   
	.text-rights
		margin: 0 auto
		margin-top: 50px
		text-align: center
		width: 500px
		height: 50px
		color: rgba(181, 181, 181, 0.502)
		a 
			color: rgba(181, 181, 181, 0.502)
			-moz-text-decoration-color: rgba(181, 181, 181, 0.502)
			text-decoration-color: rgba(181, 181, 181, 0.502)
	.logo
		background-image: url("img/5_FOOTER/5_FOOTER_logo_101xp.png")
		background-size: cover
		background-position: center top
		height: 60px
		width: 150px
		margin: auto